{"filter":false,"title":".gitignore","tooltip":"/hitotabi1/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":39,"column":15},"end":{"row":40,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":40,"column":0},"end":{"row":41,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":41,"column":0},"end":{"row":41,"column":5},"action":"insert","lines":["/.env"],"id":3}]]},"ace":{"folds":[],"scrolltop":378,"scrollleft":0,"selection":{"start":{"row":41,"column":5},"end":{"row":41,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":22,"state":"start","mode":"ace/mode/ini"}},"timestamp":1664449624465,"hash":"df81339b73d34a03872fd41bf3bb533f28a692f9"}